body{
	padding: 0px;
	margin: 0px;
	background-color: #506DA5;
	font-family: Verdana;
}

a{
	color: #000;
	text-decoration: none;
}
table{
	padding: 0px;
	margin: 0px;
}

td{
/*border: 0px solid red !important;*/
}
#main{
	height: 520px; 
	border: 0px solid red; 
	background-image: url("../img/background.jpg");
	background-repeat: repeat-x;
}
#searchBox{
}

.box{
   border: 0px solid black !important;
}
.searchButton{
	background-image: url("../img/searchButton_button.jpg");
	width: 60px; height: 28px;
	border: 0px solid black !important;
}